{% extends 'base.html' %}

{% block content %}
 <h1>{% if token_fail %}不正なトークンです{% else %}パスワード変更{% endif %}</h1>

 {% if token_fail %}
   {% url 'account_reset_password' as passwd_reset_url %}
   <p>このリンクは既に使用されています。<a href="{{ passwd_reset_url }}">パスワードリンクを再発行する</a></p>
 {% else %}
   {% if form %}
     <form method="POST" action="{{ action_url }}">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" name="action" value="変更"/>
     </form>
   {% else %}
     <p>あなたのパスワードは変更済みです</p>
   {% endif %}
 {% endif %}
 
{% endblock %}