{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <meta name="description" content=""/>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <title>{% block title %} ブログ {% endblock %}</title>
 </head>
 <body>
  {% include 'header.html' %}
 <div class="container">
  {% block content %} 
  {% endblock %} 
</div>
{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(event){

 $(document).on('submit', '.comment-form', function(event){
    event.preventDefault();
    console.log($(this).serialize());
    $.ajax({
    type: 'POST',
    url: $(this).attr('action'),
    data: $(this).serialize(),
    dataType: 'json',
    success: function(response){
      $('.main-comment-section').html(response['form']);
    },
    error: function(rs, e){
      console.log(rs.responseText);
    },
   });
 });
 var obj1 = document.getElementById("id_image");

obj1.addEventListener("change", function(e){
  var file = e.target.files;
  var reader = new FileReader();
  
  reader.readAsDataURL(file[0]);
  
  reader.onload = function(){
    var imagePreview = reader.result;
    document.getElementById("preview").innerHTML = "<img class='container' src='" + imagePreview + "'>";
  }
},false);
 

});
</script>

 </body>
</html>